.loader {
    width:120px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .loader .p1 {
    width:50px;
    height:50px;
    background:#f1c40f;
    border-radius:50%;
    position:absolute;
    left:0px;
    z-index:0;
    -webkit-animation: p1mov 2.4s infinite;
  }
  .loader .p2 {
    width:50px;
    height:50px;
    background: var(--black);
    border-radius:50%;
    position:absolute;
    right:0px;
    z-index:1;
    -webkit-animation: p2mov 2.4s infinite;
  }
  @-webkit-keyframes p1mov {
    0% {
    left:0px;
    background:#f1c40f;
    }
    15% {
    z-index:0;
    }
    50% {
    left:70px;
    background:#e74c3c;
    }
    95% {
    z-index:1;
    }
    100% {
    left:0px;
    background:#f1c40f;
    }
  }
  @-webkit-keyframes p2mov {
    0% {
    right:0px;
    background: var(--black);
    }
    15% {
    z-index:1;
    }
    50% {
    right:70px;
    background:var(--green);
    }
    95% {
    z-index:0;
    }
    100% {
    right:0px;
    background: var(--black);
    }
  }