.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.dish{
    padding: 1rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dish .icon{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish .icon:hover{
    background: var(--green);
    color: #fff;
}

.dish .heart{
    left: -15rem;
}

.dish .eye{
    right: -15rem;
}


.dish:hover .heart{
    left: 1.5rem;
}

.dish:hover .eye{
    right: 1.5rem;
}

.dish img{
    height: 20rem;
    margin: 1rem 0;
}

.dish h3{
    color: var(--black);
    font-size: 2.5rem;
}

.stars{
    padding: 1rem 0;
}

.stars .star{
    font-size: 1.7rem;
    color: var(--green);
}

.dish span{
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}